/*
===================================
footer 1
===================================
 */
footer{}
footer #footer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #361451;
    padding: 16px;
    margin-top: 160px;
}
footer #footer nav ul{
    list-style: none;
    width: 818px; /**/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;/**/
}
footer #footer nav ul li{}
footer #footer nav ul li a:link,
footer #footer nav ul li a:visited,
footer #footer nav ul li a:active{
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FBFBFB;
    text-decoration: none;
}
/*footer #footer nav ul li a:hover{
    color: #C6FFDD;
}*/
/*
===================================
footer 2 | socials
===================================
 */
footer #bottom-footer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #2B0C44;
    margin: 0;
    padding: 20px;
}
footer #bottom-footer nav ul{
    list-style: none;
    width: 280px; /**/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;/**/
}
footer #bottom-footer nav ul li{}
footer #bottom-footer nav ul li a:link,
footer #bottom-footer nav ul li a:visited,
footer #bottom-footer nav ul li a:active{
    color: #52EDAC;
}
.socials svg {
    width: 56px;
}
.socials:hover svg path{
    fill: #C6FFDD;
}