/*
===================================
classes | stage ALL
===================================
 */
/*
.stage-container{
    margin-top: 144px;
}
.stage-bg{
    background-color: #2B0C44;
    padding-bottom: 80px;
}
.stage-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
*/

@media only screen and (min-width: 360px) {

    .stage-container {
        margin-top: 108px;
        width: 312px;
    }

    .stage-bg {
        background-color: #2B0C44;
        padding-bottom: 40px;
    }

    .stage-container-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .stage-container {
        margin-top: 144px;
        width: 1108px;
    }

    .stage-bg {
        background-color: #2B0C44;
        padding-bottom: 80px;
    }

    .stage-container-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }
}

/*
===================================
classes | intro ALL
===================================
 */
.introduction{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 36px;
    width: 652px;
    margin-top: 96px;
}
@media only screen and (min-width: 360px) {
    .introduction {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        gap: 32px;
        width: 312px;
        margin-top: 64px;
    }
}

@media only screen and (min-width: 1440px) {
    .introduction {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        gap: 36px;
        width: 652px;
        margin-top: 96px;
    }
}
/*
===================================
classes | arrow animation
===================================
 */
.arrow svg{
    width: 40px;
    transition: all 0.5s ease-in-out;
}
.arrow:hover svg{
    transform: translateX(24px);
}
.arrow:hover svg path{
    fill: #C6FFDD;
}

@media only screen and (min-width: 360px) {
    .arrow svg{
        width: 30px;
        height: 25px;
        transition: all 0.5s ease-in-out;
    }
    .arrow:hover svg{
        transform: translateX(24px);
    }
    .arrow:hover svg path{
        fill: #C6FFDD;
    }
}

@media only screen and (min-width: 1440px) {
    .arrow svg{
        width: 40px;
        transition: all 0.5s ease-in-out;
    }
    .arrow:hover svg{
        transform: translateX(24px);
    }
    .arrow:hover svg path{
        fill: #C6FFDD;
    }
}
/*
===================================
classes | buttons
===================================
 */
button{
    all: unset;
}