/*
===================================
classes | life cycle
===================================
 */
.lc img{
    width: 196px;
    height: 196px;
    object-fit: contain;
}
.lc-arrow-close img{
    width: 44px;
    transform: rotate(-180deg);
    color: #C6FFDD;
}
.lc-h4{
    width: 222px;
    height: 33px;
    text-align: center;
}
.lc-container-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 16px;
    width: 222px;
    height: 93px;
}
.lc-container-medium{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 44px;
    gap: 10px;
    width: 310px;
    height: 125px;
    background: #52EDAC;
}
.lc-container-large{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 32px;
    width: 310px;
    height: 353px;
    left: 565px;
    top: 1715px;
}
.life-cycle{
    display: flex;
    justify-content: center;
    margin: 56px 0 28px 0;
}
.life-cycle-col{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
/*
===================================
classes | info page container
===================================
 */
.info-container{
    margin: 60px 0 60px 0;
}
.info-container-sub{
    margin: 56px 0 56px 0;
}
/*
===================================
classes | info page img
===================================
 */
.replacement-img-right{
    width: 310px;
    margin: 0 0 0 146px;
}
.replacement-img-left{
    width: 310px;
    margin: 0 0 0 166px;
}
/*
===================================
classes | info page paragraphs
===================================
 */
.sub-theme-h2{
    display: flex;
    text-align: left;
    margin: 0 0 40px 166px;
    padding: 0;
    width: 652px;
}
.sub-theme-h3-left{
    display: flex;
    text-align: left;
    margin: 0 0 16px 166px;
    padding: 0;
    width: 652px;
}
.sub-theme-left{
    display: flex;
    text-align: left;
    margin: 0 0 0 166px;
    padding: 0;
    width: 652px;
}
.sub-theme-h3-right{
    display: flex;
    text-align: right;
    margin: 0 166px 16px 146px;
    padding: 0;
    width: 652px;
}
.sub-theme-right{
    display: flex;
    text-align: left;
    margin: 0 0 0 146px;
    padding: 0;
    width: 652px;
}
/*
===================================
classes | info page pros&cons
===================================
 */
.pros-left{
    display: flex;
    text-align: left;
    margin: 0 0 0 166px;
    padding: 0;
    width: 538px;
}
.cons-right{
    display: flex;
    text-align: left;
    margin: 0 0 0 32px;
    padding: 0;
    width: 538px;
}
.cons-right-h3{
    display: flex;
    text-align: left;
    margin: 0 0 16px 32px;
    padding: 0;
    width: 538px;
}
.bullet-point{
    color: #FBFBFB;
}