
/*
===================================
classes | landing page background deco
===================================
 */
@media only screen and (min-width: 360px) {
    .introduction:before {
        content: "";
        background-image: url("../img/stars1.png");
        background-repeat: no-repeat;
        background-size: 80px;
        height: 80px;
        width: 80px;
        position: absolute;
        top: 10px;
        left: -20px;
        display: block;
    }
}
@media only screen and (min-width: 768px) {
    .introduction:before {
        content: "";
        background-image: url("../img/stars1.png");
        background-repeat: no-repeat;
        background-size: 125px;
        height: 125px;
        width: 125px;
        position: absolute;
        top: -20px;
        left: -120px;
        display: block;
    }
}
@media only screen and (min-width: 1024px) {
    .introduction:before {
        content: "";
        background-image: url("../img/stars1.png");
        background-repeat: no-repeat;
        background-size: 170px;
        height: 170px;
        width: 170px;
        position: absolute;
        top: -40px;
        left: -160px;
        display: block;
    }
}
@media only screen and (min-width: 1440px) {
    .introduction:before {
        content: "";
        background-image: url("../img/stars1.png");
        background-repeat: no-repeat;
        background-size: 225px;
        height: 225px;
        width: 225px;
        position: absolute;
        top: 0;
        left: -300px;
        display: block;
    }
}
@media only screen and (min-width: 2560px) {
    .introduction:before {
        content: "";
        background-image: url("../img/stars1.png");
        background-repeat: no-repeat;
        background-size: 300px;
        height: 300px;
        width: 300px;
        position: absolute;
        top: 20px;
        left: -600px;
        display: block;
    }
}
/*
===================================
classes | landing page teaser
===================================
 */
/*
.teaser-img {
    width: 424px;
    margin: 160px 0 32px 0;
}

.teaser-container-left {
    width: 424px;
    margin-left: 166px;
}

.teaser-container-right {
    width: 424px;
    margin-right: 166px;
}
*/
@media only screen and (min-width: 360px) {
    .teaser-all{
        width: 282px;
        margin: 72px auto 0 auto;
        gap: 56px;
    }
}
@media only screen and (min-width: 768px) {
    .teaser-all{
        width: 450px;
        margin: 120px auto 0 auto;
        gap: 88px;
    }
}
@media only screen and (min-width: 1024px) {
    .teaser-all{
        width: 770px;
        margin: 0 auto;
        gap: 0;
    }
}
@media only screen and (min-width: 1440px) {
    .teaser-all{
        width: 1108px;
        margin: 0 auto;
        gap: 0;
    }
}
@media only screen and (min-width: 2560px) {
    .teaser-all{
        width: 1568px;
        margin: 0 auto;
        gap: 0;
    }
}

@media only screen and (min-width: 360px) {
    .teaser-img {
        width: 204px;
    }

    .teaser-container-left {
        width: 312px;
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .teaser-container-right {
        width: 312px;
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 768px) {
    .teaser-img {
        width: 330px;
    }

    .teaser-container-left {
        width: 450px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .teaser-container-right {
        width: 450px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 1024px) {
    .teaser-img {
        width: 290px;
        margin: 128px 0 24px 0;
    }

    .teaser-container-left {
        width: 290px;
        align-items: center;
    }

    .teaser-container-right {
        width: 290px;
        align-items: center;
    }
}
@media only screen and (min-width: 1440px) {
    .teaser-img {
        width: 424px;
        margin: 160px 0 32px 0;
    }

    .teaser-container-left {
        width: 424px;
        align-items: center;
    }

    .teaser-container-right {
        width: 424px;
        align-items: center;
    }
}
@media only screen and (min-width: 2560px) {
    .teaser-img {
        width: 568px;
        margin: 200px 0 56px 0;
    }

    .teaser-container-left {
        width: 568px;
        align-items: center;
    }

    .teaser-container-right {
        width: 568px;
        align-items: center;
    }
}