/*
===================================
classes | star map page focus buttons
===================================
 */
button.focus{
    background-color: #66F6FF;
    border: none;
    filter: blur(2px);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
button:hover.focus {
    background-color: #C2FBFF;
    border: none;
    filter: blur(2px);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
button:active.focus{
    background-color: #66FFDA;
    border: none;
    filter: blur(2px);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
button.focus-easteregg{
    background: transparent;
    border: none !important;
    font-size: 0;
    width: 10px;
    height: 10px;
}
button:hover.focus-easteregg{
    cursor: pointer;
}
/*
===================================
classes | star map page layer switch buttons
===================================
 */
button.button-to-layer1 {
    background-color: #C4B6FF;
    border: none;
}
button:hover.button-to-layer1 {
    background-color: #DCD3FF;
    cursor: pointer;
}
/*
===================================
classes | star map page p5 canvas
===================================
 */
.p5Canvas{
    position: relative;
}
/*
===================================
classes | start/reload button
===================================
 */
@media only screen and (min-width: 360px){
    .strt-rld-button {
        background-color: #52EDAC;
        color: #200834;
        border-style: none;
        font-family: 'Encode Sans Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        width: 140px;
        height: 40px;
    }
    .strt-rld-button:hover {
        background: #C6FFDD;
        transition: all 0.2s ease-in-out;
    }
}
@media only screen and (min-width: 2560px){
    .strt-rld-button {
        font-size: 32px;
        width: 180px;
        height: 56px;
    }
}