/*
===================================
footer 1
===================================
 */
footer{}
footer #footer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #27155C;
    padding: 16px;
    margin-top: 160px;
    overflow: hidden;
}
footer #footer nav ul{
    list-style: none;
    width: 818px; /**/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;/**/
}
footer #footer nav ul li{}
footer #footer nav ul li a:link,
footer #footer nav ul li a:visited,
footer #footer nav ul li a:active {
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FBFBFB;
    text-decoration: none;
}
@media only screen and (min-width: 1440px) {
    footer #footer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #27155C;
        padding: 16px;
        margin: 160px 0 -1px 0;
        overflow: hidden;
    }
    footer #footer nav ul{
        list-style: none;
        width: 818px; /**/
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;/**/
    }
    footer #footer nav ul li{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    footer #footer nav ul li a:link,
    footer #footer nav ul li a:visited,
    footer #footer nav ul li a:active {
        font-family: 'Encode Sans Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        color: #FBFBFB;
        text-decoration: none;
    }
}
@media only screen and (min-width: 2560px) {
    footer #footer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #27155C;
        padding: 32px;
        margin: 240px 0 -1px 0;
        overflow: hidden;
    }
    footer #footer nav ul{
        list-style: none;
        width: 1015px; /**/
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;/**/
    }
    footer #footer nav ul li{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    footer #footer nav ul li a:link,
    footer #footer nav ul li a:visited,
    footer #footer nav ul li a:active {
        font-family: 'Encode Sans Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        color: #FBFBFB;
        text-decoration: none;
    }
}
/*
===================================
footer 2 | socials
===================================
 */
footer #bottom-footer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #190A46;
    margin: 0;
    padding: 20px;
}
footer #bottom-footer nav ul{
    list-style: none;
    width: 280px; /**/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;/**/
}
footer #bottom-footer nav ul li{}
footer #bottom-footer nav ul li a:link,
footer #bottom-footer nav ul li a:visited,
footer #bottom-footer nav ul li a:active{
    color: #52EDAC;
}
@media only screen and (min-width: 360px) {
    footer #bottom-footer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #190A46;
        margin: 72px 0 0 0;
        padding: 16px;
    }
    footer #bottom-footer nav ul{
        list-style: none;
        width: 120px; /**/
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;/**/
    }
    footer #bottom-footer nav ul li{}
    footer #bottom-footer nav ul li a:link,
    footer #bottom-footer nav ul li a:visited,
    footer #bottom-footer nav ul li a:active{
        color: #52EDAC;
    }
}
@media only screen and (min-width: 768px) {
    footer #bottom-footer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #190A46;
        margin: 120px 0 0 0;
        padding: 24px;
    }
    footer #bottom-footer nav ul{
        list-style: none;
        width: 220px; /**/
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;/**/
    }
    footer #bottom-footer nav ul li{}
    footer #bottom-footer nav ul li a:link,
    footer #bottom-footer nav ul li a:visited,
    footer #bottom-footer nav ul li a:active{
        color: #52EDAC;
    }
}
@media only screen and (min-width: 1024px) {
    footer #bottom-footer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #190A46;
        margin: 128px 0 0 0;
        padding: 32px;
    }
    footer #bottom-footer nav ul{
        list-style: none;
        width: 240px; /**/
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;/**/
    }
    footer #bottom-footer nav ul li{}
    footer #bottom-footer nav ul li a:link,
    footer #bottom-footer nav ul li a:visited,
    footer #bottom-footer nav ul li a:active{
        color: #52EDAC;
    }
}
@media only screen and (min-width: 1440px) {
    footer #bottom-footer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #190A46;
        margin: 0;
        padding: 24px;
    }
    footer #bottom-footer nav ul{
        list-style: none;
        width: 280px; /**/
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;/**/
    }
    footer #bottom-footer nav ul li{}
    footer #bottom-footer nav ul li a:link,
    footer #bottom-footer nav ul li a:visited,
    footer #bottom-footer nav ul li a:active{
        color: #52EDAC;
    }
}
@media only screen and (min-width: 2560px) {
    footer #bottom-footer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #190A46;
        margin: 0;
        padding: 24px;
    }
    footer #bottom-footer nav ul{
        list-style: none;
        width: 280px; /**/
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;/**/
    }
    footer #bottom-footer nav ul li{}
    footer #bottom-footer nav ul li a:link,
    footer #bottom-footer nav ul li a:visited,
    footer #bottom-footer nav ul li a:active{
        color: #52EDAC;
    }
}
.socials svg {
    width: 56px;
}
.socials:hover svg path{
    fill: #C6FFDD;
}
@media only screen and (min-width: 360px) {
    .socials svg {
        width: 24px;
        height: 24px;
    }
    .socials:hover svg path{
        fill: #C6FFDD;
    }
}
@media only screen and (min-width: 768px) {
    .socials svg {
        width: 44px;
        height: 44px;
    }
    .socials:hover svg path{
        fill: #C6FFDD;
    }
}
@media only screen and (min-width: 1024px) {
    .socials svg {
        width: 48px;
        height: 48px;
    }
    .socials:hover svg path{
        fill: #C6FFDD;
    }
}
@media only screen and (min-width: 1440px) {
    .socials svg {
        width: 56px;
        height: 56px;
    }
    .socials:hover svg path{
        fill: #C6FFDD;
    }
}
@media only screen and (min-width: 2560px) {
    .socials svg {
        width: 56px;
        height: 56px;
    }
    .socials:hover svg path{
        fill: #C6FFDD;
    }
}