/*
===================================
menu icon
===================================
 */
svg:hover .menu-icon-top{
    animation-name: menu-icon-top;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
svg:hover .menu-icon-middle{
    animation-name: menu-icon-middle;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    transform-origin: center center;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
svg:hover .menu-icon-bottom{
    animation-name: menu-icon-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes menu-icon-top {
    0%   {transform: translateY(0)}
    50% {transform: translateY(30%)}
    100% {transform: rotate(45deg) translateX(28%) translateY(-23%)}
}
@keyframes menu-icon-middle {
    50% {opacity: 0}
    100% {opacity: 0}
}
@keyframes menu-icon-bottom {
    0%   {transform: translateY(0)}
    50% {transform: translateY(-30%)}
    100% {transform: rotate(-45deg) translateX(-48%)}
}



/* GENERAL STYLES */
.hamburger-border {
    margin: 2px 20px 2px 20px;
}
.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}
.hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}
.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #FBFBFB;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}
.bar1 {
    top: 0;
}
.bar2,
.bar3 {
    top: 13.5px;
}
.bar3 {
    right: 0;
}
.bar4 {
    bottom: 0;
}

/* HAMBURGER 1 */
.checkbox1:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}
.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}

/* HAMBURGER 4 */
.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
    top: 13.5px;
}
.hamburger4 .bar5 {
    bottom: 0;
}
.hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}
.hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 13.5px;
}
.hamburger4 .bar3 {
    width: 1px;
    left: 13.5px;

}
.checkbox4:checked + label > .hamburger4 > .bar1{
    top: 13.5px;
    background-color: transparent;
}
.checkbox4:checked + label > .hamburger4 > .bar2{
    left: 0;
    width: 30px;
    transform: rotate(45deg);
}
.checkbox4:checked + label > .hamburger4 > .bar3{
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
}
.checkbox4:checked + label > .hamburger4 > .bar4{
    background-color: transparent;
}
.checkbox4:checked + label > .hamburger4 > .bar5{
    bottom: 13.5px;
    background-color: transparent;
}