
@media only screen and (min-width: 360px){
    .introduction:before{
        display: none;
    }
    .contact-stars-deco:before{
        content:"";
        background-image: url("../img/stars5.svg");
        background-repeat: no-repeat;
        background-size: 80px;
        width: 80px;
        height: 103px;
        position: absolute;
        bottom: -480px;
        right: 8px;
        display: block;
    }
    .contact-stars-deco:after{
        content:"";
        background-image: url("../img/stars6.svg");
        background-repeat: no-repeat;
        background-size: 60px;
        width: 60px;
        height: 109px;
        position: absolute;
        bottom: -580px;
        left: 24px;
        display: block;
    }
}
@media only screen and (min-width: 768px){
    .introduction:before{
        content:"";
        background-image: url("../img/stars4.svg");
        background-repeat: no-repeat;
        background-size: 60px;
        width: 60px;
        height: 86px;
        position: absolute;
        bottom: -786px;
        right: -40px;
        display: block;
    }
    .contact-stars-deco:before{
        content:"";
        background-image: url("../img/stars5.svg");
        background-repeat: no-repeat;
        background-size: 124px;
        width: 124px;
        height: 159px;
        position: absolute;
        top: 840px;
        right: 8px;
        display: block;
    }
    .contact-stars-deco:after{
        content:"";
        background-image: url("../img/stars6.svg");
        background-repeat: no-repeat;
        background-size: 96px;
        width: 96px;
        height: 174px;
        position: absolute;
        bottom: -472px;
        left: 24px;
        display: block;
    }
}
@media only screen and (min-width: 1024px){
    .introduction:before{
        content:"";
        background-image: url("../img/stars4.svg");
        background-repeat: no-repeat;
        background-size: 86px;
        width: 86px;
        height: 123px;
        position: absolute;
        bottom: -946px;
        right: -100px;
        display: block;
    }
    .contact-stars-deco:before{
        content:"";
        background-image: url("../img/stars5.svg");
        background-repeat: no-repeat;
        background-size: 170px;
        width: 170px;
        height: 218px;
        position: absolute;
        top: 720px;
        right: 8px;
        display: block;
    }
    .contact-stars-deco:after{
        content:"";
        background-image: url("../img/stars6.svg");
        background-repeat: no-repeat;
        background-size: 130px;
        width: 130px;
        height: 235px;
        position: absolute;
        bottom: -572px;
        left: 24px;
        display: block;
    }
}
@media only screen and (min-width: 1440px){
    .introduction:before{
        content:"";
        background-image: url("../img/stars4.svg");
        background-repeat: no-repeat;
        background-size: 121px;
        width: 121px;
        height: 174px;
        position: absolute;
        bottom: -1046px;
        right: -200px;
        display: block;
    }
    .contact-stars-deco:before{
        content:"";
        background-image: url("../img/stars5.svg");
        background-repeat: no-repeat;
        background-size: 200px;
        width: 200px;
        height: 257px;
        position: absolute;
        top: 780px;
        right: 96px;
        display: block;
    }
    .contact-stars-deco:after{
        content:"";
        background-image: url("../img/stars6.svg");
        background-repeat: no-repeat;
        background-size: 173px;
        width: 173px;
        height: 313px;
        position: absolute;
        bottom: -772px;
        left: 80px;
        display: block;
    }
}
@media only screen and (min-width: 2560px){
    .introduction:before{
        content:"";
        background-image: url("../img/stars4.svg");
        background-repeat: no-repeat;
        background-size: 152px;
        width: 152px;
        height: 229px;
        position: absolute;
        bottom: -1540px;
        right: 100px;
        display: block;
    }
    .contact-stars-deco:before{
        content:"";
        background-image: url("../img/stars5.svg");
        background-repeat: no-repeat;
        background-size: 258px;
        width: 258px;
        height: 335px;
        position: absolute;
        top: 1180px;
        right: 186px;
        display: block;
    }
    .contact-stars-deco:after{
        content:"";
        background-image: url("../img/stars6.svg");
        background-repeat: no-repeat;
        background-size: 229px;
        width: 229px;
        height: 413px;
        position: absolute;
        bottom: -1472px;
        left: 200px;
        display: block;
    }
}

:focus{
    outline: none;
}
.col-3{
    float: left;
    width: 27.33%;
    position: relative;
}
.effect-16{
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #9B8CAA;
    background-color: transparent;
}
.effect-16 ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #52EDAC;
    transition: 0.4s;
}

@media only screen and (min-width: 360px) {
    .contact-container-lg {
        margin: 60px auto;
        width: 260px;
    }
    .contact-container-sm{
        margin: 0 auto 32px auto;
        width: 260px;
        position: relative;
    }
    .contact-message{
        width: 260px;
        height: 160px;
        display: block;
        padding: 8px 8px;

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #FBFBFB;

        background-color: #2B0C44;
        background-image: none;
        border: 1px solid #9B8CAA;
        border-radius: 0;

        transition: border-color ease-in-out .15s;
        transition-property: border-color;
        transition-duration: .15s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }
    .contact-message:focus{
        border: 2px solid #52EDAC;
    }
    .contact-message:valid{
        border: 2px solid #52EDAC;
    }
    .textarea-label{
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #9B8CAA;
        position: absolute;
        top: 4px;
        left: 8px;
    }
    textarea:focus + .textarea-label{
        top: -20px;
        left: 0;
        font-size: 12px;
        color: #52EDAC;
        transition: 0.3s;
    }
    textarea:valid + .textarea-label{
        top: -20px;
        left: 0;
        font-size: 12px;
        color: #52EDAC;
        transition: 0.3s;
    }

    input[type="text"] {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #FBFBFB;
        margin: 0;
        width: 260px;
        box-sizing: border-box;
        letter-spacing: 1px;
    }
    .effect-16:focus ~ .focus-border,
    .has-content.effect-16 ~ .focus-border {
        width: 260px;
        transition: 0.4s;
    }
    .effect-16 ~ label {
        position: absolute;
        left: 0;
        width: 260px;
        top: 9px;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #9B8CAA;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
    }
    .effect-16:focus ~ label, .has-content.effect-16 ~ label {
        top: -16px;
        font-size: 12px;
        color: #52EDAC;
        transition: 0.3s;
    }

    .send-button {
        background-color: #52EDAC;
        color: #200834;
        border-style: none;
        font-family: 'Encode Sans Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        width: 140px;
        height: 40px;
    }
    .container-send-button {
        margin: 56px auto 0 auto;
        width: 140px;
    }
}
@media only screen and (min-width: 768px) {
    .contact-container-lg {
        margin: 96px auto;
        width: 450px;
    }
    .contact-container-sm{
        margin: 0 auto 32px auto;
        width: 450px;
        position: relative;
    }
    .contact-message{
        width: 450px;
        height: 160px;
        display: block;
        padding: 8px 8px;

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #FBFBFB;

        background-color: #2B0C44;
        background-image: none;
        border: 1px solid #9B8CAA;
        border-radius: 0;

        transition: border-color ease-in-out .15s;
        transition-property: border-color;
        transition-duration: .15s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }
    .contact-message:focus{
        border: 2px solid #52EDAC;
    }
    .contact-message:valid{
        border: 2px solid #52EDAC;
    }
    .textarea-label{
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #9B8CAA;
        position: absolute;
        top: 4px;
        left: 8px;
    }
    textarea:focus + .textarea-label{
        top: -22px;
        left: 0;
        font-size: 14px;
        color: #52EDAC;
        transition: 0.3s;
    }
    textarea:valid + .textarea-label{
        top: -22px;
        left: 0;
        font-size: 14px;
        color: #52EDAC;
        transition: 0.3s;
    }

    input[type="text"] {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #FBFBFB;
        margin: 0;
        width: 450px;
        box-sizing: border-box;
        letter-spacing: 1px;
    }
    .effect-16:focus ~ .focus-border,
    .has-content.effect-16 ~ .focus-border {
        width: 450px;
        transition: 0.4s;
    }
    .effect-16 ~ label {
        position: absolute;
        left: 0;
        width: 200px;
        top: 9px;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #9B8CAA;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
    }
    .effect-16:focus ~ label, .has-content.effect-16 ~ label {
        top: -18px;
        font-size: 14px;
        color: #52EDAC;
        transition: 0.3s;
    }

    .send-button {
        background-color: #52EDAC;
        color: #200834;
        border-style: none;
        font-family: 'Encode Sans Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        width: 140px;
        height: 40px;
    }
    .container-send-button {
        margin: 64px auto 0 auto;
        width: 140px;
    }
}
@media only screen and (min-width: 1024px) {
    .contact-container-lg {
        margin: 104px auto;
        width: 610px;
    }
    .contact-container-sm{
        margin: 0 auto 40px auto;
        width: 610px;
        position: relative;
    }
    .contact-message{
        width: 610px;
        height: 240px;
        display: block;
        padding: 12px 12px;

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #FBFBFB;

        background-color: /*#200834*/ #2B0C44;
        background-image: none;
        border: 1px solid #9B8CAA;
        border-radius: 0;

        transition: border-color ease-in-out .15s;
        transition-property: border-color;
        transition-duration: .15s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }
    .contact-message:focus{
        border: 2px solid #52EDAC;
    }
    .contact-message:valid{
        border: 2px solid #52EDAC;
    }
    .textarea-label{
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #9B8CAA;
        position: absolute;
        top: 6px;
        left: 12px;
    }
    textarea:focus + .textarea-label{
        top: -24px;
        left: 0;
        font-size: 14px;
        color: #52EDAC;
        transition: 0.3s;
    }
    textarea:valid + .textarea-label{
        top: -24px;
        left: 0;
        font-size: 14px;
        color: #52EDAC;
        transition: 0.3s;
    }

    input[type="text"] {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #FBFBFB;
        margin: 0;
        width: 610px;
        box-sizing: border-box;
        letter-spacing: 1px;
    }
    .effect-16:focus ~ .focus-border,
    .has-content.effect-16 ~ .focus-border {
        width: 610px;
        transition: 0.4s;
    }
    .effect-16 ~ label {
        position: absolute;
        left: 0;
        width: 200px;
        top: 9px;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #9B8CAA;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
    }
    .effect-16:focus ~ label, .has-content.effect-16 ~ label {
        top: -18px;
        font-size: 14px;
        color: #52EDAC;
        transition: 0.3s;
    }

    .send-button {
        background-color: #52EDAC;
        color: #200834;
        border-style: none;
        font-family: 'Encode Sans Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        width: 140px;
        height: 40px;
    }
    .container-send-button {
        margin: 80px auto 0 auto;
        width: 140px;
    }
}
@media only screen and (min-width: 1440px) {
    .contact-container-lg {
        margin: 112px auto;
        width: 652px;
    }
    .contact-container-sm{
        margin: 0 auto 40px auto;
        width: 652px;
        position: relative;
    }
    .contact-message{
        width: 652px;
        height: 240px;
        display: block;
        padding: 16px 16px;

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: #FBFBFB;

        background-color: /*#200834*/ #2B0C44;
        background-image: none;
        border: 1px solid #9B8CAA;
        border-radius: 0;

        transition: border-color ease-in-out .15s;
        transition-property: border-color;
        transition-duration: .15s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }
    .contact-message:focus{
        border: 2px solid #52EDAC;
    }
    .contact-message:valid{
        border: 2px solid #52EDAC;
    }
    .textarea-label{
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: #9B8CAA;
        position: absolute;
        top: 8px;
        left: 16px;
    }
    textarea:focus + .textarea-label{
        top: -28px;
        left: 0;
        font-size: 16px;
        color: #52EDAC;
        transition: 0.3s;
    }
    textarea:valid + .textarea-label{
        top: -28px;
        left: 0;
        font-size: 16px;
        color: #52EDAC;
        transition: 0.3s;
    }

    input[type="text"] {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: #FBFBFB;
        margin: 0;
        width: 652px;
        box-sizing: border-box;
        letter-spacing: 1px;
    }
    .effect-16:focus ~ .focus-border,
    .has-content.effect-16 ~ .focus-border {
        width: 652px;
        transition: 0.4s;
    }
    .effect-16 ~ label {
        position: absolute;
        left: 0;
        width: 200px;
        top: 9px;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: #9B8CAA;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
    }
    .effect-16:focus ~ label, .has-content.effect-16 ~ label {
        top: -20px;
        font-size: 16px;
        color: #52EDAC;
        transition: 0.3s;
    }

    .send-button {
        background-color: #52EDAC;
        color: #200834;
        border-style: none;
        font-family: 'Encode Sans Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        width: 140px;
        height: 40px;
    }
    .container-send-button {
        margin: 80px auto 0 auto;
        width: 140px;
    }
}
@media only screen and (min-width: 2560px) {
    .contact-container-lg {
        margin: 160px auto;
        width: 1168px;
    }
    .contact-container-sm{
        margin: 0 auto 56px auto;
        width: 1168px;
        position: relative;
    }
    .contact-message{
        width: 1168px;
        height: 420px;
        display: block;
        padding: 16px 16px;

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        color: #FBFBFB;

        background-color: /*#200834*/ #2B0C44;
        background-image: none;
        border: 1px solid #9B8CAA;
        border-radius: 0;

        transition: border-color ease-in-out .15s;
        transition-property: border-color;
        transition-duration: .15s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }
    .contact-message:focus{
        border: 2px solid #52EDAC;
    }
    .contact-message:valid{
        border: 2px solid #52EDAC;
    }
    .textarea-label{
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        color: #9B8CAA;
        position: absolute;
        top: 8px;
        left: 16px;
    }
    textarea:focus + .textarea-label{
        top: -40px;
        left: 0;
        font-size: 24px;
        color: #52EDAC;
        transition: 0.3s;
    }
    textarea:valid + .textarea-label{
        top: -40px;
        left: 0;
        font-size: 24px;
        color: #52EDAC;
        transition: 0.3s;
    }

    input[type="text"] {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        color: #FBFBFB;
        margin: 0;
        width: 1168px;
        box-sizing: border-box;
        letter-spacing: 1px;
    }
    .effect-16:focus ~ .focus-border,
    .has-content.effect-16 ~ .focus-border {
        width: 1168px;
        transition: 0.4s;
    }
    .effect-16 ~ label {
        position: absolute;
        left: 0;
        width: 300px;
        top: 9px;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        color: #9B8CAA;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
    }
    .effect-16:focus ~ label, .has-content.effect-16 ~ label {
        top: -32px;
        font-size: 24px;
        color: #52EDAC;
        transition: 0.3s;
    }

    .send-button {
        background-color: #52EDAC;
        color: #200834;
        border-style: none;
        font-family: 'Encode Sans Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        width: 180px;
        height: 56px;
    }
    .container-send-button {
        margin: 120px auto 0 auto;
        width: 180px;
    }
}